<div class="container px-5 px-sm-0">
  <div class="row m-5">
        <h2 class="font-weight-normal">商品一覧(全<%= @product.product.count %>件)</h2>
        <% @products.each do |product| %>
        <div>
            <table>
                <tr><td>画像</td></tr>
                <tr><td><%= link_to product.name, "/products/#{product.id}" %></td></tr>
                <tr><td><%= product.price %></td></tr>
            </table>
        </div>
        <% end %>
        
  </div>
</div>

<%= paginate @products %>