<body class="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="img">
          <%= image_tag 'teikoku1.jpg', size: '400x200' %>
          <p>
            <div class="introduction-about">
              ながのCAKEは全国発送可能なケーキ屋さんです。<br>
              お子様からお年寄りの方までお召し上がりいただけるよう、<br>
              様々なバリエーションをご用意しております。<br>
              また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
              ぜひご注文ください。
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>